<ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content" side="end">
        <ion-header class="ion-no-border">
            <ion-toolbar color="warning">
                <ion-title>Banco</ion-title>
                <ion-buttons slot="start">
                    <ion-button icon-only (click)="closeModal()">
                        <ion-icon slot="start" name="arrow-forward"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content color="dark">
            
            <ion-list class="ion-no-padding">
                
                <ion-item [routerLink]="['bank-accounts']" color="dark">
                    <ion-icon slot="start" name="newspaper-outline"></ion-icon>
                    <ion-label>Cuentas Bancarias Propias</ion-label>
                </ion-item>
                
                <ion-item [routerLink]="['third-bank-accounts']" color="dark">
                    <ion-icon slot="start" name="newspaper-outline"></ion-icon>
                    <ion-label>Cuentas Bancarias de Terceros</ion-label>
                </ion-item>
                
                <ion-item color="dark">
                    <ion-icon slot="start" name="log-out-outline"></ion-icon>
                    <ion-label>Cerrar sesion</ion-label>
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>