.box-main-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ion-segment {
    --background: var(--ion-color-dark);
    color: var(--ion-color-light);
}