<ion-header class="ion-no-border">
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Crear Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-slides [options]="sliderOpts">
        <ion-slide>

            <form [formGroup]="registerForm" #form="ngForm" class="ion-padding" (ngSubmit)="register(form)">
        
                <ion-item color="dark">
                    <ion-label position="stacked">Nombre Completo</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
        
                <ion-item color="dark" class="ion-margin-top">
                    <ion-label position="stacked">Correo</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
        
                <ion-item color="dark" class="ion-margin-top">
                    <ion-label position="stacked">Numero de identificacion</ion-label>
                    <ion-input type="text" formControlName="identification_number"></ion-input>
                </ion-item>
        
                <ion-item color="dark" class="ion-margin-top">
                    <ion-label position="stacked">Contraseña</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
        
                <ion-item color="dark" class="ion-margin-top">
                    <ion-label position="stacked">Confirmar contraseña</ion-label>
                    <ion-input type="password" formControlName="confirmPassword"></ion-input>
                </ion-item>
        
                <ion-button
                    class="ion-margin-top"
                    expand="full"
                    color="success"
                    shape="round"
                    type="submit"
                    [disabled]="registerForm.invalid">
                    Crear Usuario
                </ion-button>
        
            </form>
            
        </ion-slide>
    </ion-slides>


</ion-content>